agrichat-backend/Agentic_RAG/.env
agrichat-backend/Agentic_RAG/
agrichat-backend/Agentic_RAG/
agrichat-frontend/.vercel
agrichat-frontend/node_modules/
agrichat-frontend/dist
Extracted digital POP data/
Golden Data/
Package_of_practices/
Extracted digital POP data/
chromaDb/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.vscode/
.idea/

chromaDb/
.DS_Store

# Logs
*.log
.vercel

agrichat-backend/users.csv
Extracted_digital_English_POP_data_md/
agrichat-backend/__pycache__
.env
agrichat-backend/fallback_queries.csv