fastapi
uvicorn
pymongo
python-dotenv
requests
langchain
langchain-community
chromadb
ollama
beautifulsoup4
markdown
openai
numpy
python-multipart
gunicorn
langchain_google_genai
google.generativeai
certifi
pytz
python-dateutil
crewai
firecrawl-py