fastapi
uvicorn
watchfiles
pymongo
python-dotenv
requests
langchain
langchain-community
chromadb
beautifulsoup4
markdown
torch
torchaudio
numpy
python-multipart
gunicorn
certifi
pytz
python-dateutil
openai-whisper
crewai